@import url(./normolize.css);
body {
  font-family: "Poppins", sans-serif;
  font: 400 16px/24px "Poppins", sans-serif;
}

.main__bg {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.main__bg-img {
  margin: 0 auto;
  height: 900px;
  max-width: 1440px;
  width: 100%;
  -o-object-position: left;
     object-position: left;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.main__logo {
  top: 31px;
  left: 42px;
  position: absolute;
  font: 600 20px/30px "Poppins", sans-serif;
}
@media (max-width:760px) {
  .main__logo {
    top: 18px;
    left: 26px;
    font: 600 18px/27px "Poppins", sans-serif;
  }
}
.main__container {
  max-width: 1440px;
  margin: 0 auto;
}
.main__container--sm {
  padding: 80px 118px 0;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.main__auth {
  position: absolute;
  top: 80px;
  right: 118px;
  max-width: 539px;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  padding: 44px 44px 79px;
}
@media (max-width:760px) {
  .main__auth {
    max-width: 326px;
    margin: 0 auto;
    right: 23px;
    left: 23px;
    padding: 43px 27px 79px;
  }
}

.auth__head {
  display: flex;
  justify-content: space-between;
}
.auth__subtitle {
  font: 600 21px/31px "Poppins", sans-serif;
}
.auth__subtitle span {
  text-transform: uppercase;
  color: #779341;
}
@media (max-width:760px) {
  .auth__subtitle {
    font: 600 16px/24px "Poppins", sans-serif;
  }
}
.auth__sign {
  margin-top: 5px;
  color: #8d8d8d;
  font: 400 13px/22px "Poppins", sans-serif;
}
@media (max-width:760px) {
  .auth__sign {
    margin-top: 0;
  }
}
@media (max-width:760px) {
  .auth__sign--mode {
    max-width: 76px;
  }
}
.auth__sign-link {
  color: #779341;
  text-decoration: none;
}
.auth__sign-link:hover {
  text-decoration: underline;
}
.auth__title {
  font: 500 55px/53px "Poppins", sans-serif;
  margin-bottom: 56px;
}
@media (max-width:760px) {
  .auth__title {
    font: 400 40px/44px "Poppins", sans-serif;
    margin-bottom: 72px;
  }
}
.auth__soc-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}
@media (max-width:760px) {
  .auth__soc-links {
    margin-bottom: 49px;
  }
}
.auth__link {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 9px;
  background-color: #fff;
  margin-right: 13px;
  font: 400 16px/24px "Poppins", sans-serif;
  transition: all 0.3s;
}
@media (max-width: 560px) {
  .auth__link {
    padding: 15px 9px;
    font: 400 12px/18px "Poppins", sans-serif;
    margin-right: 6px;
  }
  .auth__link:last-child {
    margin-right: 0;
  }
}
.auth__link:hover {
  transition: all 0.3s;
  background-color: rgb(226, 226, 226);
}
.auth__link:last-child {
  margin-right: 0;
}
.auth__link img {
  width: 26px;
  height: 26px;
}
@media (max-width:760px) {
  .auth__link img {
    width: 18px;
    height: 18px;
  }
}
.auth__link--google {
  max-width: 234px;
  width: 100%;
  padding: 15px 32px;
  background: #e9f1ff;
  color: #4285f4;
}
@media (max-width:760px) {
  .auth__link--google {
    max-width: 180px;
    padding: 18px 10px 18px 19px;
  }
}
.auth__link--google:hover {
  background: #d5dce9;
}
.auth__link--google img {
  margin-right: 21px;
}
@media (max-width:760px) {
  .auth__link--google img {
    margin-right: 11px;
  }
}
.auth__row {
  max-width: 451px;
  margin-bottom: 38px;
}
.auth__row:last-child {
  margin-bottom: 0;
}
@media (max-width:760px) {
  .auth__row {
    margin-bottom: 36px;
  }
  .auth__row:last-child {
    margin-bottom: 0;
  }
}
.auth__row a {
  display: flex;
  justify-content: flex-end;
  color: #4285f4;
  font: 400 13px/19px "Poppins", sans-serif;
  margin-top: 18px;
}
.auth__row a:hover {
  text-decoration: underline;
}
@media (max-width:760px) {
  .auth__row a {
    font: 400 11px/16px "Poppins", sans-serif;
    margin-top: 12px;
    margin-right: 17px;
  }
}
.auth__row-duble {
  display: flex;
  justify-content: space-between;
}
@media (max-width:760px) {
  .auth__row-duble input {
    max-width: 130px;
  }
}
.auth__label {
  margin-bottom: 9px;
}
@media (max-width:760px) {
  .auth__label {
    font: 400 14px/21px "Poppins", sans-serif;
    margin-bottom: 16px;
  }
}
.auth__input {
  border: 1px solid #adadad;
  transition: all 0.3s;
  border-radius: 9px;
  background-color: #fff;
  height: 57px;
  font: 300 14px/21px "Poppins", sans-serif;
  padding: 0 25px;
  width: 100%;
}
@media (max-width: 560px) {
  .auth__input {
    font: 300 13px/19px "Poppins", sans-serif;
    padding: 0 15px;
  }
}
.auth__input:focus {
  transition: all 0.3s;
  border: 1px solid #4285f4;
}
.auth__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 44px;
}
@media (max-width:760px) {
  .auth__button {
    margin-top: 50px;
  }
}
.auth__button button {
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  min-width: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 54px;
  background-color: #779341;
  box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
}
.auth__button button:hover {
  transition: all 0.3s;
  background: #627835;
}
@media (max-width:760px) {
  .auth__button button {
    font: 500 16px/24px "Poppins", sans-serif;
    min-width: 146px;
  }
}/*# sourceMappingURL=style.css.map */